[Unit]
Description=Internat Astro Application
After=network.target postgresql.service

[Service]
# CHANGE USER if needed
User=nincapable
# CHANGE PATH to your project directory
WorkingDirectory=/home/nincapable/Documents/Lycee/internat_astro
Environment=PORT=4321
Environment=HOST=127.0.0.1
# Ensure you have the .env file or set DATABASE_URL here
# Environment=DATABASE_URL=postgresql://user:pass@localhost/db
EnvironmentFile=/home/nincapable/Documents/Lycee/internat_astro/.env

ExecStart=/usr/bin/node ./dist/server/entry.mjs
Restart=always

[Install]
WantedBy=multi-user.target
